################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jira5DataSync/obj
/Jira5DataSync/bin
